* {
  box-sizing: border-box;
}
.imagem1 {
  width: 30%;
  max-width: 1080;
  position: absolute;

  left: 0;
  top: 0;
}
.imagem2 {
  width: 30%;
  max-width: 1080;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate3d(0, 1, 0, 180deg);
}
.tudo {
  display: inline-grid;
  gap: 10px;
}
.bolas {
  display: grid;
  grid-template-columns: repeat(15, 15fr);
  gap: 6px;
}

.bola {
  width: 7.4vh;
  height: 7.4vh;
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(255, 255, 255);
  background: radial-gradient(at top left, #fff 20%, rgb(175, 174, 174));
  -ms-border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  box-shadow: 5px 3px 3px rgb(104, 103, 103);

  align-items: center;

  display: flex;
  justify-content: center;
  font-size: 25px;
}

.a-bola {
  width: 7.4vh;
  height: 7.4vh;
  max-width: 100%;
  max-height: 100%;
  background: radial-gradient(at top left, rgb(172, 5, 5), rgb(223, 5, 34));
  box-shadow: 4px 2px 2px rgb(230, 108, 108);
  border-radius: 150px;
  box-shadow: 5px 3px 3px rgb(104, 103, 103);

  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.bola.highlight {
  width: 7.4vh;
  height: 7.4vh;
  max-width: 100%;
  max-height: 100%;
  background: radial-gradient(at top left, rgb(15, 155, 33), rgb(23, 158, 30));
  box-shadow: 4px 2px 2px rgb(230, 108, 108);
  border-radius: 150px;
  box-shadow: 5px 3px 3px rgb(104, 103, 103);

  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(167, 187, 54);
  font-family: sans-serif;
}

.sorteio {
  width: 40vh;
  height: 40vh;
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(255, 255, 255);
  background: radial-gradient(at top left, #fff 20%, rgb(175, 174, 174));
  -ms-border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 50%;
  box-shadow: 5px 3px 3px rgb(104, 103, 103);
  margin: 0px auto;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: bold;
}

h1 {
  color: white;
  font-size: 80px;
}

h2 {
  color: rgb(57, 190, 53);

  font-size: 40px;
  transition: 0.4s ease;
}

.botao {
  font-size: 6vh;
  border-radius: 20%;
  background-color: #328fce;
  padding: 16px 38px;
  transition-duration: 0.4s;
  width: 50vh;
  position: relative;
  left: 30%;
  max-width: 100%;
}

.botao:hover {
  background-color: #2b79ad; /* Green */
  color: white;
}
